body {
  background-color: beige;
}

.section h1 {
  border-bottom: black;
  border-width: 3px;
}

.section-1 {
  border-bottom: black;
  border-width: 3px;
  color: blue;
  font-size: 14px;
}
.header {
  border: solid 3px black;
}

h1 {
  border: solid 2px black;
}
