body {
  background-color: beige;
  border: solid 2px black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 5px;
  border: solid 2px black;
  margin: 2px;
}


h2 {
  display: flex;
  border-bottom: solid 1px black;
  margin: 10px;
}

section {
  border: solid 2px black;
  margin: 2px;
}

p {
  display: flex;
  justify-content: left;
}

footer {
  border: solid 1px black;
  margin: 2px;
}

h3 {
  display: flex;
  border-bottom: solid 1px black;
  margin: 10px;
}

.header button {
  display: flex;
  justify-content: right;
}
