body {
  background-color: beige;
  border: solid 2px black;
}

.header {
  display: flex;
  background-color: beige;
  flex-direction: row;
  display: flex;
  gap: 2%;
  padding: 1%;
  margin: 1%;
  border: 2px solid black;
}

.col-1 {
  display: flex;
  width: 49%;
  border: solid 2px black;
  flex-direction: column;
  padding-left: 20%;
}

.col-2 {
  display: flex;
  width: 49%;
  border: solid 2px black;
  flex-direction: column;
  padding-left: 20%;
  padding-bottom: 15%;
}

section {
  display: flex;
  padding: 1%;
  height: 500px;
}

#blogForm {
  display: table-column;
  padding-inline: 5px;
}

article {
  justify-content: center;
}

.header {
  display: flex;
  justify-content: right;
}

img {
  height: 75%;
  display: flex;
  width: 55%;
  border-radius: 15%;
}

h2 {
  justify-content: center;
}

#content {
}
