body {
  background-color: white;
  border: solid 2px black;
}

.header {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 2%;
  padding: 1%;
  margin: 1%;
  border: 2px solid black;
}

.col-1 {
  display: flex;
  width: 49%;
  border: solid 2px black;
  flex-direction: column;
  padding-left: 20%;
  margin: 2px;
}

.col-2 {
  display: flex;
  width: 49%;
  border: solid 2px black;
  flex-direction: column;
  padding-left: 20%;
  padding-bottom: 15%;
  margin: 2px;
}

section {
  display: flex;
  padding: 1%;
  height: 625px;
}

#blogForm {
  display: table-column;
  padding-inline: 5px;
}

article {
  justify-content: center;
}

.header {
  display: flex;
  justify-content: right;
}

img {
  height: 60%;
  display: flex;
  width: 55%;
  border-radius: 12%;
}

h2 {
  justify-content: center;
}

input #content {
  height: 35px;
  font-size: 30px;
}

label #content {
  font-size: 28px;
}
